<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <title>Huffman Compressor</title>

        <link
            rel="stylesheet"
            href="{{ url_for('static', filename='style.css') }}"
        />
    </head>

    <body>
        <div class="container">
            <h1>Huffman Compressor</h1>
            <p class="subtitle">
                Compress and decompress files using Huffman Coding
            </p>

            <div class="cards">
                <!-- Compress -->
                <div class="card">
                    <h2>Compress</h2>

                    <p>Select a file to compress.</p>

                    <form
                        action="/compress"
                        method="POST"
                        enctype="multipart/form-data"
                    >
                        <input type="file" name="file" required />

                        <button type="submit">Compress</button>
                    </form>
                </div>

                <!-- Decompress -->
                <div class="card">
                    <h2>Decompress</h2>

                    <p>Select a .huff file to restore.</p>

                    <form
                        action="/decompress"
                        method="POST"
                        enctype="multipart/form-data"
                    >
                        <input
                            type="file"
                            name="file"
                            accept=".huff"
                            required
                        />

                        <button type="submit">Decompress</button>
                    </form>
                </div>
            </div>

            <div class="info">
                <p>Uses Huffman Coding for lossless compression.</p>
            </div>
        </div>
    </body>
    <footer>Created by Mudit ❤️</footer>
</html>
